*{
  margin:0;
  padding:0;
}
header{
  background-color:#383d58;
color:white;
  display:flex;
  justify-content:space-arround;
  align-sistems:conten;
  padding:24px 0;
  
}
.cabecalho-imagem{
  width:20%;
}
